body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
    h1 {
        font-size: 60px;
        line-height: 1;
        letter-spacing: -1px;
    }
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
  font-family: monospace;
  font-size: 20px;
}

#main {
  width:95%;
  margin:auto;
}
.keytar {
  width: 100%;
}

.keyboard {
  height: 224px;
}

.key {
  display: block;
  float: left;
  width: 50px;
  height: 220px;
  border: 2px solid;
  border-style: outset;
  border-radius: 5px;
  position: relative;
}

.key span {
  position: absolute;
  bottom: 0;
  left: 25%;

}

.cf:after {
  display: block;
  clear: both;
  content: "";
}

.key.active {
  border-style: inset;
}

.black {
  position: relative;
  /*left: -10%;*/
  margin-left: -2%;
  margin-right: -2%;
  height: 120px;
  width: 30px;
  font-size: 80%;
  z-index: 5;
  background-color: #221100;
  color: #FFFFFF;
}

.black span{
  left: 20%;
}

.controls {
  height: 250px;
  width:100%;
  border: 1px solid black;
  padding:5px;
}

.controls>div {
  margin-right:20px;
  padding:0.1%;
  float:left;
  height:98%;
}

.controls-left {
  width:21%;
}

.controls-center {

}

#modulator-controls {
  position:relative;
}

#modulator-control-label {
  margin: 0;
  width: fit-content;
  background-color: white;
  font-size: 12px;
  position: absolute;
  right:10px;
  bottom:-10px;
}
#modulator-controls>div {
  margin-bottom:4px;
}

.controls>div>div {
  float:left;
  clear:both;

  width:100%;
  border: 1px solid black;
  border-radius: 5px;
  padding:3px;
}

.controls>div>div.waveform-selector {
  width:fit-content;
}

.controls-left>div {
  margin: 2px 0;
}
.controls-left>div:first-child{
  /*margin-top:4px;*/
}

.waveform-selector {
  width:fit-content;
}
.waveform-button-wrapper{
  width:fit-content;
  margin:auto;
}
.waveform-button {
  background-size: cover;
  background-position: center;
  border: 1px solid;
  border-style: outset;
  height:30px;
  width:50px;
  margin-left:3px;
  float:left;
  cursor:pointer;
}

.waveform-button:first-child {
  margin: 0;
}
.waveform-button#sine{
  background-image:url('../assets/img/sine_wave.png');
}
.waveform-button#square{
  background-image:url('../assets/img/square_wave.png')
}
.waveform-button#sawtooth{
  background-image:url('../assets/img/sawtooth_wave.png')
}
.waveform-button#triangle{
  background-image:url('../assets/img/triangle_wave.png')
}
.waveform-button.active {
  font-weight:bold;
  background-color: #aefba1;
}

#vertical-sliders {
  padding: 5px;
}

.vertical-slider {
  float:left;
  margin: 0 8px;
  position:relative;
  height:150px;
  width:20px;
}

.vertical-slider-track {
  height:90%;
  width:6px;
  background-color:#C0C0C0;
  border: 1px solid black;
  border-radius: 25px;
  position:absolute;
  top:4%;
  left:6px;
}

.vertical-slider-range {
  width: 100%;
  background-color: #676767;
  border: none;
  border-radius: 10px;
  position:absolute;
}

.vertical-slider-thumb {
  z-index: 2;
  height: 8px;
  width: 22px;
  margin-top: -6px;
  background-color: #FFFFFF;
  border: 1px solid black;
  border-radius: 2px;
  position: absolute;
  left: -9px;
}

.vertical-slider-label {
  position:absolute;
  bottom:-2.5%;
  left:2px;
  font-size:10px;
}

.horizontal-sliders {
  width:100%;
  padding-top:5px;
}

.horizontal-sliders-wrapper {
  width:100%;
}

.horizontal-slider {
  position:relative;
  width:100%;
  margin-bottom:2px;
  /*needs to be set because of absolute positioning of children*/
  height:20px;
}

.horizontal-slider-track {
  width: 90%;
  height: 6px;
  background-color: #676767;
  border: 1px solid black;
  border-radius: 25px;
  position: absolute;
  left: 4%;
  top: 6px;
}

.horizontal-slider-range {
  height: 100%;
  background-color: #C0C0C0;
  border: none;
  border-radius: 10px;
  position: absolute;
}

.horizontal-slider-thumb {
  z-index:2;
  height: 22px;
  width: 8px;
  margin-left: -4px;
  border: 1px solid black;
  border-radius: 2px;
  position: absolute;
  top: -9px;
  background-color: rgb(255, 255, 255);
}

.horizontal-slider-label {
  position: absolute;
  top: 13px;
  left:5%;
  font-size:10px;
}

div#recorder-buttons {
  border: 1px solid black;
  width:150px;
}

div.record-button {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  margin: auto;
  cursor: pointer;
}
div.record-button.record:before{
  content: '';
  display:inline-block;
  position:relative;
  background:red;
  border-radius:100%;
  width:12px;
  height:12px;
  bottom:2px;
  left:4px;
  cursor: pointer;
}

div.record-button.stop:before{
  content: '';
  display:inline-block;
  position:relative;
  background:red;
  width:12px;
  height:12px;
  bottom:2px;
  left:4px;
  cursor: pointer;
}

div.record-button.play::after {
  content: '';
  display: inline-block;
  position: relative;
  bottom: 2.5px;
  left: 5px;
  border-style: solid;
  border-width: 6px 0 6px 12px;
  border-color: transparent transparent transparent black;
}

div.record-button.pause:before {
    content: "";
    display:inline-block;
    position: relative;
    width: 4px;
    height: 12px;
    background: black;
    bottom: 2.5px;
    left: 5px;
}

div.record-button.pause:after {
    content: "";
    display:inline-block;
    position: relative;
    width: 4px;
    height: 12px;
    background: black;
    bottom: 2.5px;
    left: 7px;
}
