$ILLUMINATED_BUTTON_COLOR: #aefba1;

body {
  font-family: monospace;
  font-size: 20px;
}

#app {
  width:85%;
  margin:auto;
}

.keytar {
  width: 100%;
}

.keyboard {
  margin:auto;
  width:fit-content;
  height: 224px;
}

.key {
  display: block;
  float: left;
  width: 50px;
  height: 220px;
  border: 2px solid;
  border-style: outset;
  border-radius: 5px;
  position: relative;

  &.active {
    border-style: inset;
  }

  span {
    position: absolute;
    bottom: 0;
    left: 25%;
  }
}


.cf:after {
  display: block;
  clear: both;
  content: "";
}
.left {
  float:left;
}
.right {
  float:right;
}

.black {
  position: relative;
  /*left: -10%;*/
  margin-left: -2%;
  margin-right: -2%;
  height: 120px;
  width: 30px;
  font-size: 80%;
  z-index: 5;
  background-color: #221100;
  color: #FFFFFF;

  span{
    left: 20%;
  }
}

.controls {
  height: 250px;
  width:75%;
  border: 1px solid black;
  padding:5px;

  .controls-left,
  .controls-center,
  .controls-right {
      float:left;
      height:98%;

  }
  .controls-left,
  .controls-center {
    margin-right:10px;
  }
}


.button-wrapper {
  width:fit-content;
  margin: 0px auto;
}

.controls-left {
  width:32%;
}
.controls-center {
  width:32%;
}
.controls-right {
  width:32%;
}

.waveform-controls {
  position:relative;
  margin-bottom:6px;
  &:last-child {
    margin-bottom:0;
  }
  .waveform-selector,
  .horizontal-slider {
    width:100%;
    margin-bottom:4px;
  }
  .waveform-control-label {
    margin: 0;
    width: fit-content;
    background-color: white;
    font-size: 12px;
    position: absolute;
    right:10px;
    bottom:-6px;
  }
}

.waveform-controls,
#vertical-sliders,
.recorder {
  float:left;
  clear:both;
  width:96%;
  position:relative;
  border: 1px solid black;
  border-radius: 5px;
  padding: 2%;
  .label {
    margin: 0;
    width: fit-content;
    background-color: white;
    font-size: 12px;
    position: absolute;
    right:10px;
    bottom:-6px;
  }
}

.waveform-selector {
  width:fit-content;
  .button-wrapper{
    width:fit-content;
    margin:auto;
    .waveform-button {
      background-size: cover;
      background-position: center;
      border: 1px solid;
      border-style: outset;
      height:30px;
      width:50px;
      margin-left:3px;
      float:left;
      cursor:pointer;

      &:first-child {
        margin: 0;
      }

      &.active {
        background-color: $ILLUMINATED_BUTTON_COLOR;
      }

      &#sine{
        background-image:url('../images/sine_wave.png');
      }

      &#square{
        background-image:url('../images/square_wave.png')
      }

      &#sawtooth{
        background-image:url('../images/sawtooth_wave.png')
      }

      &#triangle{
        background-image:url('../images/triangle_wave.png')
      }
    }
  }
}


#vertical-sliders {
  height:94%;
  padding: 2% 5px 4% 5px;
}

.vertical-slider {
  float:left;
  margin: 0 8px;
  position:relative;
  height:100%;
  width:20px;
}

.vertical-slider-track {
  height:90%;
  width:6px;
  background-color:#C0C0C0;
  border: 1px solid black;
  border-radius: 25px;
  position:absolute;
  top:4%;
  left:6px;
}

.vertical-slider-range {
  width: 100%;
  background-color: #676767;
  border: none;
  border-radius: 10px;
  position:absolute;
}

.vertical-slider-thumb {
  z-index: 2;
  height: 8px;
  width: 22px;
  margin-top: -6px;
  background-color: #FFFFFF;
  border: 1px solid black;
  border-radius: 2px;
  position: absolute;
  left: -9px;
}

.vertical-slider-label {
  position:absolute;
  bottom:-2.5%;
  left:2px;
  font-size:10px;
}

.horizontal-sliders {
  width:100%;
  padding-top:5px;
}

.horizontal-sliders-wrapper {
  width:100%;
}

.horizontal-slider {
  position:relative;
  width:100%;
  margin-bottom:2px;
  /*needs to be set because of absolute positioning of children*/
  height:20px;
}

.horizontal-slider-track {
  width: 90%;
  height: 6px;
  background-color: #676767;
  border: 1px solid black;
  border-radius: 25px;
  position: absolute;
  left: 4%;
  top: 6px;
}

.horizontal-slider-range {
  height: 100%;
  background-color: #C0C0C0;
  border: none;
  border-radius: 10px;
  position: absolute;
}

.horizontal-slider-thumb {
  z-index:2;
  height: 22px;
  width: 8px;
  margin-left: -4px;
  border: 1px solid black;
  border-radius: 2px;
  position: absolute;
  top: -9px;
  background-color: rgb(255, 255, 255);
}

.horizontal-slider-label {
  position: absolute;
  top: 13px;
  left:5%;
  font-size:10px;
}

div#recorder-buttons {
  // border: 1px solid black;
  background-color: #999792;
  width:96%;
  margin: 1% 2%;
  height: 10%;
  padding: 1% 0;
  border-radius:5px;
}

div.record-button {
  width: 40px;
  height: 25px;
  background-color: #F1F7F0;
  border: 1px solid black;
  margin: auto;
  margin-right:2px;
  float:left;
  cursor: pointer;

  &.record {
    &:before {
      content: '';
      display:inline-block;
      position:relative;
      background:red;
      border-radius:100%;
      width:15px;
      height:15px;
      bottom:-2px;
      left:12.5px;
      cursor: pointer;
    }
  }

  &.stop {
    &:before {
      content: '';
      display:inline-block;
      position:relative;
      background:red;
      width: 15px;
      height: 15px;
      bottom: -1.5px;
      left: 12.5px;
      cursor: pointer;
    }
  }

  &.play {
    &:after {
      content: '';
      display: inline-block;
      position: relative;
      bottom: -1px;
      left: 13.5px;
      border-style: solid;
      border-width: 7.5px 0 7.5px 15px;
      border-color: transparent transparent transparent black;
    }
  }

  &.pause {
    &:before {
      content: "";
      background: black;
      display:inline-block;
      width: 5px;
      height: 15px;
      position: relative;
      bottom: -1.5px;
      left: 13px;
    }
    &:after {
      content: "";
      background: black;
      display:inline-block;
      width: 5px;
      height: 15px;
      position: relative;
      bottom: -1.5px;
      left: 16px;
    }
  }
}

.recorder {
  height:96%;

  .recording-index {
    height:88%;
    .recording-index-label {
      height:12%;
    }
    .recording-index-items {
      border: 1px solid black;
      width:96%;
      margin: 0 2%;
      height:85%;
      overflow-y:scroll;
      margin: 0 2%;
      .recording {
        padding: 3.5px 0;
        background-color: gray;
        height: 28px;
        .recording-label-wrapper {
          background-color: white;
          height: 100%;
          width: 92%;
          margin: 0 2%;
          padding: 0 2%;
          line-height: 27px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space:nowrap;
          display: inline-block;
          .recording-label {
            overflow:hidden;
            display:inline-block;
            white-space:nowrap;
            text-overflow:ellipsis;
          }
        }
      }
    }
  }
}
